<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBCourse.Properties.Settings.PARTITURESConnectionString"
            connectionString="Data Source=DESKTOP-F796EKR\SQLEXPRESS;Initial Catalog=PARTITURES;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DBCourse.Properties.Settings.PartituresDBConnectionString"
            connectionString="Data Source=DESKTOP-F796EKR\SQLEXPRESS;Initial Catalog=PartituresDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DBCourse.Properties.Settings.PrtsDBConnectionString"
            connectionString="Data Source=DESKTOP-F796EKR\SQLEXPRESS;Initial Catalog=PrtsDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>